<div class="template rounded">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <h1 class="text-center mt-5">Editar sucursal</h1>
      <hr>
      <% unless @employees.length == 0 %>
        <table class="table table-light table-striped table-bordered mt-5">
           <caption class="text-center caption-top">Empleados de la sucursal</caption>
              <thead>
                <tr>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">RFC</th>
                  <th class="text-center">Puesto</th>
                  <th class="text-center">Opciones</th>
                </tr>
              </thead>
              <tbody> 
                <% @employees.each do |employees| %>
                <tr>
                  <td><%= employees.name %> <%= employees.last_name %></td>
                  <td><%= employees.rfc %></td>
                  <td><%= employees.job_title %></td>
                  <td class="text-center"><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_employee_path(employees.id) %></td>
                </tr>
               <% end %>
              </tbody>
            </table>
          <%else%>
            <p class="text-center pt-5 pb-5 border rounded">Esta sucursal no cuenta con empleados registrados</p>
          <% end %>
          <%= link_to "Registrar empleado", new_employee_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4 mt-3">
		<%= render 'form', office: @office %>
	</div>
  </div>
</div>