<div class="template rounded">
  <p id="notice"><%= notice %></p>
 
    <div class="row justify-content-md-center">
      <h1 class="text-center mt-5 mb-5">Sucursales</h1>
       <div class="col-md-2">
        <div class="d-grid gap-2">
            <%= link_to 'Registar sucursal', new_office_path, class: "btn btn-primary" %>
            <%= link_to 'Registar empleado', new_employee_path, class: "btn btn-primary" %>
        </div>
       </div>

       <div class="col-md-7">
        <% unless @db.nil? %>
          <table class="table table-light table-striped table-bordered">
            <thead>
              <tr>
                <th>Sucursal</th>
                <th>No. de Empleados</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody> 
              <% @data.each do |data| %>
              <tr>
                <td><%= data.name_office %></td>
                <td><%= data.count_employees %></td>
                <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, '#' %>
                  <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_office_path(data.id_offices) %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="border rounded">
            <p class="text-center pt-5 pb-5">Aún no tienes sucursales registradas.</p>
          </div>
        <% end %>
       </div>
    </div>
</div>