<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @office.street %>
</p>

<p>
  <strong>Ext number:</strong>
  <%= @office.ext_number %>
</p>

<p>
  <strong>Int number:</strong>
  <%= @office.int_number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @office.neighborhood %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @office.postal_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @office.country %>
</p>

<p>
  <strong>User:</strong>
  <%= @office.user_id %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
